<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">		
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Trident of Mina</title>
		<script
		  src="https://code.jquery.com/jquery-3.2.1.js"
		  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		  crossorigin="anonymous"></script>
		<script src="/assets/js/logic.js"></script>
		<link rel="icon" href="/assets/images/favicon.png">
	</head>
	<body>
		<nav class="navbar navbar-light bg-faded fixed-top">
	  	<a class="navbar-brand" href="/">Trident of Mina</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    	<div class="navbar-nav">
      		<a class="nav-right nav-item nav-link" href="/signup">Register<span class="sr-only">(current)</span></a>
          {{> login-status/login-block}}
          {{> login-status/dashboard-block}}
    	</div>
    </div>
	</nav>
		{{{ body }}}
	<div class='footer row' id='footer-section'>
		<div class='footer-content'>
			<div class='col-md-7'>
				<h4>&copy Copyright 2017 Trident of Mina</h4>
			</div>
			<div class='col-md-5'>
				<h3>Get Started</h3>
				<ul>
					<li><a href='/signup'>Register<span class='sr-only'>(current)</span></a></li>
            		{{> login-status/login-block2}}
					<li><a href='/about'>About</a></li>
				</ul>
			</div>
		</div>
	</div>
	</body>
</html>