<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
	<title>Document</title>
	
</head>
<body>

	{{{ body }}}
	
	<script src='assets/js/phaserlogic/phaser.min.js'></script>
	<script src='assets/js/phaserlogic/states/boot.js'></script>
	<script src='assets/js/phaserlogic/states/preload.js'></script>
	<script src='assets/js/phaserlogic/states/game.js'></script>
	<script src='assets/js/phaserlogic/prefabs/board.js'></script>
	<script src='assets/js/phaserlogic/main.js'></script>
	

</body>
</html>