<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
	<title>Document</title>
	<script type='text/javascript' src='assets/js/phaserlogic/phaser.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser-ce/2.9.2/phaser.min.js"></script>﻿
</head>
<body>

	{{{ body }}}
	
	<script src='assets/js/phaserlogic/main.js'></script>
</body>
</html>