<div class='container'>

	<div class='jumbotron' id='header-section'>
		<h1>About</h1>
	</div>

  <div class="row">
    <div id='about-content-section' class="col-md-12">
      <h1 class='header-text'>About Weird Armies</h1>
      <h4 class='about-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus dolor condimentum urna cursus laoreet. Curabitur tempus vitae metus id pellentesque. Ut elit purus, ultrices in venenatis sed, tristique eget leo. Sed at luctus nibh. Etiam sit amet felis felis. Donec scelerisque scelerisque magna. Ut nisl lacus, facilisis sed massa a, aliquet interdum sem. Pellentesque ultrices nibh eget erat volutpat ultricies. In quis sem congue mi blandit pharetra. Nullam ut nulla ac ante iaculis pellentesque. In at ante ante. Nunc iaculis libero et libero scelerisque viverra. Praesent lacus sem, faucibus et euismod ac, fermentum eget risus. Nunc at sem commodo, maximus diam ac, bibendum enim. Donec aliquam lorem quis sapien dictum euismod.</h4>
      <h4 class='about-content'>Morbi ornare placerat justo in rutrum. Morbi cursus, quam mollis mollis consequat, nibh tortor elementum mauris, et elementum enim nisi id velit. Aliquam gravida aliquam posuere. Curabitur scelerisque dolor et malesuada placerat. Praesent leo est, aliquam ac malesuada sit amet, varius sed tortor. Nam vel pellentesque augue, a gravida neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eu tortor ut elit semper semper. Fusce ut tortor a nisl venenatis tempor id at diam. Vivamus rutrum fringilla ex, ac varius tortor. Sed ornare aliquam consequat. Curabitur sit amet mauris ac ex tincidunt tincidunt egestas id turpis. Vestibulum cursus ultricies risus sed scelerisque. Nulla nec lacinia ante.</h4>
    </div>
  </div>

</div>