<div>
	<button class='btn btn-lg' id='findAllGames'>
		View Open Games
	</button>
	<button class='btn btn-lg' id='createNewGame'>
		Create A New Game
	</button>
	<button class='btn btn-lg' id='viewYourGames'>
		View Your Games
	</button>
</div>