<div class='container'>
  <nav class="navbar navbar-light bg-faded fixed-top">
      <a class="navbar-brand" href="/">Weird Armies</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-right nav-item nav-link" href="/signup">Register</a>
          <a class="nav-right nav-item nav-link" href="/signin">Login</a>
          <a class="nav-right nav-item nav-link" href="/about">About</a>
      </div>
      </div>
  </nav>

  <div class='jumbotron' id='header-section'>
    <h1>Dashboard</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Welcome back, {{username}}.</p>
    </div>
  </div>
</div>