<div class='container'>
  <div class='jumbotron' id='header-section'>
    <h1>A bunch of weird armies are heading your way. Watch out.</h1>
  </div>

  <div class='row' id='description-section'>
    <div class='col-md-12'>
      <div class='row'>
        <h1>Weird Armies is a new game with all the nostalgia of a pixelated board but with fresher, weirder narrative-based armies.</h1>
      </div>
      <div class='row'>
        <h2 class='description-header'><span class='glyphicon glyphicon-object-align-horizontal'></span>Asymmetrical</h2>
        <p class='sub-description'>No two opponents are ever truly the same, and games are much more interesting that way. Each army has strengths and advantages its opponent doesn't. Don't challenge the Lady Merfolk in the water, obviously.</p>
      </div>
      <div class='row'>
        <h2 class='description-header'><span class='glyphicon glyphicon-pushpin'></span>Tactical</h2>
        <p class='sub-description'>You'll have to plan your path to victory around obstacles that are advantages for your opponent, and a surefire path to defeat for you. Strategy matters.</p>
      </div>
      <div class='row'>
        <h2 class='description-header'><span class='glyphicon glyphicon-ice-lolly-tasted'></span>Weird</h2>
        <p class='sub-description'>Elves are great and all, but where are our armies made up entirely of a fierce femme Merfolk race? Mechanized insects with a haughty distaste for sand? An Old Growth Forest that likes to break for afternoon tea? We've got the weird armies here.</p>
      </div>
    </div>
  </div>
</div>

	<div class='footer row' id='footer-section'>
		<div class='footer-content'>
			<div class='col-md-7'>
				<h4>&copy Copyright 2017 Weird Armies</h4>
			</div>
			<div class='col-md-5'>
				<h3>Get Started</h3>
				<ul>
					<li><a href='/signup'>Register<span class='sr-only'>(current)</span></a></li>
					<li><a href='/signin'>Login</a></li>
					<li><a href='/about'>About</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>