<div class='openGamesContainer'> 
	<div class='row'>
		<div class='panel panel-default'>
			<div class='panel-heading'>Open Games</div>
			<div class='panel-body'>
				The following games are open and ready for you to join!
			</div>
			<table class='table openGamesTable'>
				<tr>
					<th>Game ID</th>
					<th>Username</th>
					<th>Join</th>
				</tr>
				{{#each games}}
					<tr class='trGameList'>
						<td>{{id}}</td>
						<td>{{first_player}}</td>
						<td><button class='joinGame btn btn-md btn-primary' data-id={{id}}>Join Game</button></td>
					</tr>
				{{/each}}			
			</table>
			<br>
		</div>
	</div>

	<div class='row'>
		<h1>Create A New Game</h1>
		<h2>Not playing a game yet?</h2>
		<button class='createNewGame btn btn-md btn-primary'>Create A New Game</button>
	</div>
</div>