<div class='container'>

	<div class='jumbotron' id='header-section'>
	  <h1>Welcome back!</h1>
	</div>

	<div class="row">
	  <div id='signin-section' class="col-md-12">
		  <form id="signin" name="signin" method="post" action="/signin">
	        <label id='email-label' class='signin-label-right-email' for="email">Email</label><br>
	        <input class="signin-input-email signin-input text" name="email" type="text" /><br><br>
	        <label id='password-label' class='signin-label-right-password' for="password">Password</label><br>
	        <input class='signin-input-password signin-input' name="password" type="password" /><br><br>
	        <input class="btn button-action" type="submit" value="Sign In" />
	      </form>
      </div>
	</div>

</div>