* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: white;
}

a {
	color: black;
	outline: none;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
}

.row {
	padding: 30px;
}

.navbar-nav {
	float: right;
	margin-top: 16px;
}

a.nav-right {
	padding: 15px;
	margin-right: 15px;
}

.jumbotron,
#header-section {
	width: 100%;
	height: 30em;
	background: url('../images/bluenothingness.jpg');
	background-size: cover;
	opacity: 1;
	color: white;
	border-radius: 0;
}