* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
	background-color: white;
}

a {
	color: black;
	outline: none;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

label {
	font-family: 'Montserrat', sans-serif;
}

.page-container {
	min-height: 100%;
}

.container {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
}

.footer {
	height: 200px;
}

#footer-section {
	background-color: #46b0cf;
	margin-top: 5em;
}

.footer-content {
	width: 70%;
	margin: 0 15%;
}

.row {
	padding: 30px;
}

.navbar-nav {
	float: right;
	margin-top: 16px;
}

a.nav-right {
	padding: 15px;
	margin-right: 15px;
	font-size: 16px;
}

a.nav-right:hover,
a.nav-right:focus,
a.nav-right:active {
	text-decoration: none;
	background-color: #53c7d9;
}

.button-action {
	background-color: #46b0cf;
	border-color: #389fdf;
}

.button-action:hover,
.button-action:active,
.button-action:focus {
	background-color: #5fd7fa;
	transition: all 1s;
}

.jumbotron,
#header-section {
	width: 100%;
	height: 30em;
	background: url('../images/pixelbg2.jpg');
	background-size: cover;
	opacity: 1;
	color: white;
	border-radius: 0;
}

#description-section,
#about-section {
	width: 80%;
	margin: 0 10%;
}

.description-header {
	margin-top: 0;
}

.glyphicon {
	margin: 0.75em 1.75em;
	color: #46b0cf;
}

.sub-description {
	margin-left: 7.9em;
	margin-top: -1.1em;
	font-size: 17px;
}

.sub-about {
	font-size: 17px;
}

#dashboard-content-section {
	width: 84%;
	margin: 0 8%;
}

#about-content-section {
	width: 84%;
	margin: 0 8%;
}

.header-text {
	color: #46b0cf;
	margin-bottom: 1em;
}

.about-content {
	line-height: 142%;
}

.icon-img {
	width: 100%;
}

#register-section {
	width: 50%;
	margin: 0 25%;
	position: relative;
}

.register-label-left-email {
	position: absolute;
	left: -40px;
	bottom: 356px;
	transition: all 1s;
}

.register-label-right-email {
	position: absolute;
	left: 16px;
	bottom: 356px;
	transition: all 1s;
}

.register-label-left-first {
	position: absolute;
	left: -75px;
	bottom: 283px;
	transition: all 1s;
}

.register-label-right-first {
	position: absolute;
	left: 16px;
	bottom: 283px;
	transition: all 1s;
}

.register-label-left-last {
	position: absolute;
	left: -75px;
	bottom: 205px;
	transition: all 1s;
}

.register-label-right-last {
	position: absolute;
	left: 16px;
	bottom: 205px;
	transition: all 1s;
}

.register-label-left-username {
	position: absolute;
	left: -71px;
	bottom: 130px;
	transition: all 1s;
}

.register-label-right-username {
	position: absolute;
	left: 16px;
	bottom: 130px;
	transition: all 1s;
}

.register-label-left-password {
	position: absolute;
	left: -66px;
	bottom: 55px;
	transition: all 1s;
}

.register-label-right-password {
	position: absolute;
	left: 16px;
	bottom: 55px;
	transition: all 1s;
}

#signin-section {
	width: 50%;
	margin: 0 25%;
	position: relative;
}

.signin-input {
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #46b0cf;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.signin-label-left-password {
	position: absolute;
	left: -65px;
	bottom: 55px;
	transition: all 1s;
}

.signin-label-right-password {
	position: absolute;
	left: 15px;
	bottom: 55px;
	transition: all 1s;
}

.signin-label-left-email {
	position: absolute;
	left: -36px;
	bottom: 132px;
	transition: all 1s;
}

.signin-label-right-email {
	position: absolute;
	left: 15px;
	bottom: 132px;
	transition: all 1s;
}

.trGameList {
	padding: 5px;
}

nav.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid black;
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
	font-size: 22px;
}

.phaser-background {
	width: 100%;
	background-color: #393939;
	margin: 0;
	padding-right: 15px;
	padding-left: 15px;
}

canvas {
	display: block;
	margin: 0;
}

#allies-stats {
	margin-top: -180px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.game-window-section {
	width: 70%;
	margin: 0 12% 0 18%;
}

.table-stats {
	background-color: #e5eaec;
	border-color: #46b0cf;
}

#stats-heading {
	background-color: #46b0cf;
	border-color: #46b0cf;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('https://cdn-images-1.medium.com/max/600/1*puxWO8x7_hMeoZdssXtJFQ.gif') 50% 50% no-repeat #fff;
}